{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime List</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">


    
</head>
<body>
  <b><a class="icon-link" href="{% url 'website' %}">
    <i class="bi bi-house-door"></i>  <!-- Bootstrap Home icon -->
    Home
</a>
</b>

<style>
  .icon-link {
    display: flex;
    align-items: center;
    font-size: 24px;  /* Increase the font size of both icon and text */
  }

  .icon-link i {
    font-size: 1.5em;  /* Make the icon larger relative to the text */
    margin-right: 10px;  /* Space between the icon and the text */
  }
</style>
  
    <header class="index-header">Index</header>
    <nav class="alphabet-nav">
      <a href="{% url 'anime_list' %}">A</a>
      <a href="{% url 'anime_list_2' %}">B</a>
      <a href="{% url 'anime_list_3' %}">C</a>
        
    </nav>
    <section class="anime-list">
        
        <div class="anime-item"><a href="#">C: The Money of Soul and Possibility Control BD</a></div>
            <div class="anime-item"><a href="#">C³ BD</a></div>
            <div class="anime-item"><a href="#">C³: Rinkan Gakkou Confusion! BD</a></div>
            <div class="anime-item"><a href="#">Caligula</a></div>
            <div class="anime-item"><a href="#">Call of the Night</a></div>
            <div class="anime-item"><a href="#">Campfire Cooking in Another World with My Absurd Skill BD</a></div>
            <div class="anime-item"><a href="#">Campione! BD</a></div>
            <div class="anime-item"><a href="#">Canaan BD</a></div>
            <div class="anime-item"><a href="#">Candy Boy Episode: EX01 - Mirai Yohouzu DVD</a></div>
            <div class="anime-item"><a href="#">Candy Boy Episode: EX02 - Shiawase Kyouyuu Riron DVD</a></div>
            <div class="anime-item"><a href="#">Candy Boy: Nonchalant Talk of the Certain Twin Sisters in Daily Life DVD</a></div>
            <div class="anime-item"><a href="#">Candy☆Boy: Side Story For Archive DVD</a></div>
            <div class="anime-item"><a href="#">Cannon Busters BD</a></div>
            <div class="anime-item"><a href="#">Captain Earth BD</a></div>
            <div class="anime-item"><a href="#">Captain Future BD</a></div>
            <div class="anime-item"><a href="#">Captain Tsubasa DVD</a></div>
            <div class="anime-item"><a href="#">Captain Tsubasa (2018)</a></div>
            <div class="anime-item"><a href="#">Captain Tsubasa Season 2: Junior Youth-hen</a></div>
            <div class="anime-item"><a href="#">Captain Tsubasa: Road to 2002 DVD</a></div>
            <div class="anime-item"><a href="#">Cardcaptor Sakura BD</a></div>
            <div class="anime-item"><a href="#">Cardcaptor Sakura Movie 2: The Sealed Card BD</a></div>
            <div class="anime-item"><a href="#">Cardcaptor Sakura The Movie BD</a></div>
            <div class="anime-item"><a href="#">Cardcaptor Sakura: Clear Card BD</a></div>
            <div class="anime-item"><a href="#">Cardcaptor Sakura: Clear Card Prologue – Sakura and the Two Bears</a></div>
            <div class="anime-item"><a href="#">Cardfight!! Vanguard</a></div>
            <div class="anime-item"><a href="#">Cardfight!! Vanguard (2018)</a></div>
            <div class="anime-item"><a href="#">Cardfight!! Vanguard G</a></div>
            <div class="anime-item"><a href="#">Cardfight!! Vanguard G Next</a></div>
            <div class="anime-item"><a href="#">Cardfight!! Vanguard G Z</a></div>
            <div class="anime-item"><a href="#">Cardfight!! Vanguard G: GIRS Crisis-hen</a></div>
            <div class="anime-item"><a href="#">Cardfight!! Vanguard G: Stride Gate-hen</a></div>
            <div class="anime-item"><a href="#">Cardfight!! Vanguard Gaiden: If</a></div>
            <div class="anime-item"><a href="#">Cardfight!! Vanguard: Asia Circuit-hen</a></div>
            <div class="anime-item"><a href="#">Cardfight!! Vanguard: Divinez</a></div>
            <div class="anime-item"><a href="#">Cardfight!! Vanguard: Divinez Deluxe-hen</a></div>
            <div class="anime-item"><a href="#">Cardfight!! Vanguard: Divinez Season 2</a></div>
            <div class="anime-item"><a href="#">Cardfight!! Vanguard: Legion Mate-hen</a></div>
            <div class="anime-item"><a href="#">Cardfight!! Vanguard: Link Joker-hen</a></div>
            <div class="anime-item"><a href="#">Cardfight!! Vanguard: overDress</a></div>
            <div class="anime-item"><a href="#">Cardfight!! Vanguard: overDress Season 2</a></div>
            <div class="anime-item"><a href="#">Cardfight!! Vanguard: Shinemon-hen</a></div>
            <div class="anime-item"><a href="#">Cardfight!! Vanguard: will+Dress</a></div>
            <div class="anime-item"><a href="#">Cardfight!! Vanguard: will+Dress Season 2</a></div>
            <div class="anime-item"><a href="#">Cardfight!! Vanguard: will+Dress Season 3</a></div>
            <div class="anime-item"><a href="#">Cardfight!! Vanguard: Zoku Koukousei-hen</a></div>
            <div class="anime-item"><a href="#">Carnival Phantasm BD</a></div>
            <div class="anime-item"><a href="#">Carnival Phantasm EX Season BD</a></div>
            <div class="anime-item"><a href="#">Carnival Phantasm: HibiChika Special BD</a></div>
            <div class="anime-item"><a href="#">Carnival Phantasm: Illya-jou BD</a></div>
            <div class="anime-item"><a href="#">Carole & Tuesday BD</a></div>
            <div class="anime-item"><a href="#">Casshern Sins BD</a></div>
            <div class="anime-item"><a href="#">Castle in the Sky BD</a></div>
            <div class="anime-item"><a href="#">Cat's Eye BD</a></div>
            <div class="anime-item"><a href="#">Cells at Work!</a></div>
            <div class="anime-item"><a href="#">Cells at Work! CODE BLACK!</a></div>
            <div class="anime-item"><a href="#">Cells at Work!: The Common Cold</a></div>
            <div class="anime-item"><a href="#">Cells at Work!!</a></div>
            <div class="anime-item"><a href="#">Cencoroll</a></div>
            <div class="anime-item"><a href="#">Cencoroll Connect BD</a></div>
            <div class="anime-item"><a href="#">Centaur no Nayami BD</a></div>
            <div class="anime-item"><a href="#">Cestvs: The Roman Fighter</a></div>
            <div class="anime-item"><a href="#">Chain Chronicle: Haecceitas no Hikari</a></div>
            <div class="anime-item"><a href="#">Chain Chronicle: Haecceitas no Hikari Part 1</a></div>
            <div class="anime-item"><a href="#">Chain Chronicle: Haecceitas no Hikari Part 2</a></div>
            <div class="anime-item"><a href="#">Chain Chronicle: Haecceitas no Hikari Part 3</a></div>
            <div class="anime-item"><a href="#">Chained Soldier BD</a></div>
            <div class="anime-item"><a href="#">Chainsaw Man BD</a></div>
            <div class="anime-item"><a href="#">Chaos Dragon: Sekiryuu Seneki BD</a></div>
            <div class="anime-item"><a href="#">ChäoS;Child BD</a></div>
            <div class="anime-item"><a href="#">ChäoS;Child Episode 0 BD</a></div>
            <div class="anime-item"><a href="#">ChäoS;Child: Silent Sky BD</a></div>
            <div class="anime-item"><a href="#">ChäoS;HEAd BD</a></div>
            <div class="anime-item"><a href="#">Charlotte BD</a></div>
            <div class="anime-item"><a href="#">Charlotte: Tsuyoimono-tachi BD</a></div>
            <div class="anime-item"><a href="#">Cheating Craft</a></div>
            <div class="anime-item"><a href="#">Cheer Danshi!!</a></div>
            <div class="anime-item"><a href="#">Cheer Danshi!! Recap</a></div>
            <div class="anime-item"><a href="#">Cherry Magic! Thirty Years of Virginity Can Make You a Wizard?!</a></div>
            <div class="anime-item"><a href="#">Chibi Maruko-chan BD</a></div>
            <div class="anime-item"><a href="#">Chibi Maruko-chan: Watashi no Suki na Uta BD</a></div>
            <div class="anime-item"><a href="#">Chibi☆Devi!</a></div>
            <div class="anime-item"><a href="#">Chicchana Yukitsukai Sugar BD</a></div>
            <div class="anime-item"><a href="#">Chicchana Yukitsukai Sugar Specials BD</a></div>
            <div class="anime-item"><a href="#">Chihayafuru BD</a></div>
            <div class="anime-item"><a href="#">Chihayafuru 2 BD</a></div>
            <div class="anime-item"><a href="#">Chihayafuru 2: Waga Miyo ni Furu Nagame Shima ni DVD</a></div>
            <div class="anime-item"><a href="#">Chihayafuru 3 BD</a></div>
            <div class="anime-item"><a href="#">Chiikawa</a></div>
            <div class="anime-item"><a href="#">Chiisai Sensuikan ni Koi wo Shita Dekasugiru Kujira no Hanashi</a></div>
            <div class="anime-item"><a href="#">Child of Kamiari Month</a></div>
            <div class="anime-item"><a href="#">Children of the Sea BD</a></div>
            <div class="anime-item"><a href="#">Children Who Chase Lost Voices BD</a></div>
            <div class="anime-item"><a href="#">Chillin' in Another World with Level 2 Super Cheat Powers</a></div>
            <div class="anime-item"><a href="#">Chillin' in My 30s after Getting Fired from the Demon King's Army</a></div>
            <div class="anime-item"><a href="#">Chimimo</a></div>
            <div class="anime-item"><a href="#">Chio-chan no Tsuugakuro</a></div>
            <div class="anime-item"><a href="#">Chiruran: Nibun no Ichi</a></div>
            <div class="anime-item"><a href="#">Chivalry of a Failed Knight BD</a></div>
            <div class="anime-item"><a href="#">Chobits BD</a></div>
            <div class="anime-item"><a href="#">Chobits Recap BD</a></div>
            <div class="anime-item"><a href="#">Chobits: Chibits BD</a></div>
            <div class="anime-item"><a href="#">Choboraunyopomi Gekijou Ai Mai Mii BD</a></div>
            <div class="anime-item"><a href="#">Choboraunyopomi Gekijou Dai Ni Maku Ai Mai Mii: Mousou Catastrophe BD</a></div>
            <div class="anime-item"><a href="#">Choboraunyopomi Gekijou Dai Ni Maku Ai Mai Mii: Mousou Catastrophe - Shojo Kuriya BD</a></div>
            <div class="anime-item"><a href="#">Choboraunyopomi Gekijou Dai San Maku Ai Mai Mii: Surgical Friends</a></div>
            <div class="anime-item"><a href="#">Chouetsu Sekai</a></div>
            <div class="anime-item"><a href="#">Choujigen Game Neptune The Animation BD</a></div>
            <div class="anime-item"><a href="#">Choujigen Game Neptune The Animation: Yakusoku no Eien - True End BD</a></div>
            <div class="anime-item"><a href="#">Choujin Koukousei-tachi wa Isekai demo Yoyuu de Ikinuku you desu! BD</a></div>
            <div class="anime-item"><a href="#">Choukadou Girl ⅙</a></div>
            <div class="anime-item"><a href="#">Chrome Shelled Regios DVD</a></div>
            <div class="anime-item"><a href="#">Chu Feng: B.E.E</a></div>
            <div class="anime-item"><a href="#">Chuu Bra!! BD</a></div>
            <div class="anime-item"><a href="#">Chuubyou Gekihatsu Boy: Otoko ni Umareta Shukumei Dakara</a></div>
            <div class="anime-item"><a href="#">Chuuka Ichiban! DVD</a></div>
            <div class="anime-item"><a href="#">Chuukan Kanriroku Tonegawa</a></div>
            <div class="anime-item"><a href="#">Cinderella Boy DVD</a></div>
            <div class="anime-item"><a href="#">Cinderella Chef</a></div>
            <div class="anime-item"><a href="#">Cinderella Chef 3rd Season</a></div>
            <div class="anime-item"><a href="#">Cinderella Chef: Adorable Food Goddess</a></div>
            <div class="anime-item"><a href="#">Cinderella Girls Gekijou BD</a></div>
            <div class="anime-item"><a href="#">Cinderella Girls Gekijou 2nd Season</a></div>
            <div class="anime-item"><a href="#">Cinderella Girls Gekijou 3rd Season</a></div>
            <div class="anime-item"><a href="#">Cinderella Girls Gekijou: Climax Season</a></div>
            <div class="anime-item"><a href="#">Cinderella Girls Gekijou: Kayou Cinderella Theater</a></div>
            <div class="anime-item"><a href="#">Cinderella Girls Gekijou: Kayou Cinderella Theater 2nd Season</a></div>
            <div class="anime-item"><a href="#">Cinderella Girls Gekijou: Kayou Cinderella Theater 3rd Season</a></div>
            <div class="anime-item"><a href="#">Cinderella Girls Gekijou: Kayou Cinderella Theater 4th Season</a></div>
            <div class="anime-item"><a href="#">Cinderella Nine</a></div>
            <div class="anime-item"><a href="#">Cinderella Nine: The Story Continues</a></div>
            <div class="anime-item"><a href="#">Circlet Princess</a></div>
            <div class="anime-item"><a href="#">Citrus BD</a></div>
            <div class="anime-item"><a href="#">City Hunter BD</a></div>
            <div class="anime-item"><a href="#">City Hunter '91 BD</a></div>
            <div class="anime-item"><a href="#">City Hunter 2 BD</a></div>
            <div class="anime-item"><a href="#">City Hunter 3 BD</a></div>
            <div class="anime-item"><a href="#">City Hunter Movie: Shinjuku Private Eyes BD</a></div>
            <div class="anime-item"><a href="#">City Hunter: .357 Magnum</a></div>
            <div class="anime-item"><a href="#">City Hunter: Bay City Wars</a></div>
            <div class="anime-item"><a href="#">City Hunter: Death of the Vicious Criminal Ryo Saeba</a></div>
            <div class="anime-item"><a href="#">City Hunter: Million Dollar Conspiracy</a></div>
            <div class="anime-item"><a href="#">City Hunter: The Motion Picture</a></div>
            <div class="anime-item"><a href="#">City Hunter: The Secret Service</a></div>
            <div class="anime-item"><a href="#">Clannad BD</a></div>
            <div class="anime-item"><a href="#">Clannad Movie DVD</a></div>
            <div class="anime-item"><a href="#">Clannad: After Story BD</a></div>
            <div class="anime-item"><a href="#">Clannad: After Story - Mou Hitotsu no Sekai, Kyou-hen BD</a></div>
            <div class="anime-item"><a href="#">Clannad: Mou Hitotsu no Sekai, Tomoyo-hen BD</a></div>
            <div class="anime-item"><a href="#">ClassicaLoid BD</a></div>
            <div class="anime-item"><a href="#">ClassicaLoid 2nd Season BD</a></div>
            <div class="anime-item"><a href="#">Classroom for Heroes</a></div>
            <div class="anime-item"><a href="#">Classroom of the Elite BD</a></div>
            <div class="anime-item"><a href="#">Classroom of the Elite II BD</a></div>
        </div>

        <br>
        <br>

        <!-- Add more anime items here -->
    </section>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled">
          <a class="page-link" style="background-color: black; color: pink;">Previous</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="{% url 'anime_list' %}" style="background-color: black; color: pink;">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="{% url 'anime_list_2' %}" style="background-color: black; color: pink;">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="{% url 'anime_list_3' %}" style="background-color: black; color: pink;">3</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#" style="background-color: black; color: pink;">Next</a>
        </li>
      </ul>
    </nav>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
